<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
RewriteBase /ProyectoCubo/public/
RewriteCond %{REWUEST_FILENAME} !-d
RewriteCond %{REWUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>